/*
Reutilice las @medidas que Ale nos mostro en clase, 
*todavía se me dificulta hacerlo y aplicarlo.   

*/

@media (min-width: 7px) and (max-width: 767px) {
    [class*="col-"] {
        max-width:100%;
        flex: none;
    }
    .cabecera{
      width: 100%;
    }
    .logo{
      width: 100%;
    }
    .alternativas {
    width: 100%;
  }
}




/*@media (min-width: 376px) and (max-width: 667px) {

}


@media (min-width: 667px) and (max-width: 1024px) {
  
}

@media (min-width: 1024px) and (max-width: 1600px) {
  
}
*/
